img {
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 7px 14px;
}

.logo {
  width: 73px;
  margin-top: -7px;
  margin: -17px;
  /* margin: -20px; */
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.logi-home:hover {
  color: hsl(36, 100%, 50%);
  text-shadow: 0 0 100px, 0 0 100px #666, 0 0 100px #666, 0 0 100px #666,
    0 0 100px #666, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000, 0 0 50px #000,
    0 0 50px #000;
  /*transition*/
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 2.5s ease-in-out infinite alternate;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.landing {
  position: relative;
  background: url('./img/africa1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}
.loging-background {
  position: relative;
  background: url('./img/africa1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.loging-background {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
